{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
     
    {{form(emailForm)}}
  

{% endblock %}
