{% extends 'base.html.twig' %}

{% block title %} Nouveau mot de passe{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Entrez votre nouveau mot de passe</h1>
    <form method="post">
        <label for="pass">Mot de passe</label>
        <input class="form-control" type="password" name="password" id="pass"></input>
        <input  type="hidden" name="token" value="{{ token }}"></input>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

{% endblock %}
