 <h1> Réinitialisation de votre mot de passe  </h1>
 Bonjour, <br><br> Une demande de réinitialisation de mot de passe 
a été effectuée pour notre site. Veuillez cliquer sur le lien suivant : 
<p><a href="{{url}}">Changer mon mot de passe </a></p>